{% extends 'layouts.html' %}

{% block main %}
<form class="box" action="/signup" method="post">
    <div class="field">
        <label class="label" for="first_name">First Name</label>
        <div class="control">
            <input class="input" type="text" name="first_name" id="first_name" placeholder="First Name" required />
        </div>
    </div>

    <div class="field">
        <label class="label" for="middle_name">Middle Name</label>
        <div class="control">
            <input class="input" type="text" name="middle_name" id="middle_name" placeholder="Middle Name" />
        </div>
    </div>

    <div class="field">
        <label class="label" for="last_name">Last Name</label>
        <div class="control">
            <input class="input" type="text" name="last_name" id="last_name" placeholder="Last Name" required />
        </div>
    </div>

    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
            <input class="input" type="email" name="email" id="email" placeholder="e.g. alex@example.com" required />
        </div>
    </div>

    <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
            <input class="input" type="password" name="password" id="password" placeholder="********" required />
        </div>
    </div>

    <button class="button is-primary" type="submit">Sign Up</button>
</form>
{% endblock %}