{% extends 'layouts.html' %}

{% block main %}

<section class="section">
    <div class="container">
        <h1 class="title">Dashboard</h1>
        <a href="/quiz/join" class="button is-primary mb-5">Join Quiz</a>
        <div class="columns is-multiline">
            {% for quiz in quizzes %}
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <p class="title">{{ quiz.name }}</p>
                        <p><strong>Join Code:</strong> {{ quiz.join_code }}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-footer-item">Created At: {{ quiz.created_at }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}