{% extends 'layouts.html' %}

{% block main %}

<section class="section">
    <div class="container">
        <h1 class="title">Dashboard</h1>
        <a href="/join" class="subtitle">Join Quiz</a>
        {% for quiz in quizzes %}
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{ quiz.name }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>Join Code: {{ quiz.join_code }}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="content">
                    <p class="subtitle">Created At: {{ quiz.created_at }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}