{% extends 'layouts.html' %}

{% block main %}

<h2 class="title">Update Profile</h2>

<form class="box" action="/update_profile" method="post">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" name="name" placeholder="Name" value="{{ user.name }}" required />
        </div>
    </div>

    <div class="field">
        <label class="label">Username</label>
        <div class="control">
            <input class="input" type="text" name="username" placeholder="Username" value="{{ user.username }}" />
        </div>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="text" name="email" placeholder="Email" value="{{ user.email }}" required />
        </div>
    </div>

    <button class="button is-primary" type="submit">Update Profile</button>
</form>

{% endblock %}