<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="QuizGenesis - Generate quizzes, take quizzes, view results, and issue certifications to candidates.">
    <meta name="keywords"
        content="quiz, quiz generation, take quiz, view results, certifications, online quiz, get certifications, certificates, web development, mern stack, mean stack, full stack, front end, back end">
    <meta name="author" content="QuizGenesis Team">
    <title>QuizGenesis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
    <header>
        {% include "utilities/navbar.html" %}
    </header>
    <main class="section">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for message in messages %}
        <div class="notification is-info" id="notification">
            <button class="delete" id="deleteNotificationButton"></button>
            {{ message|e }}
        </div>
        {% endfor %}
        {% endif %}


        {% endwith %}
        {% block main %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/flash_message.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }
        });
    </script>
</body>

</html>